html {
    background-size: cover;
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    color: white;
    background-image: url('../img/background.png');
    background-color: black;
}
a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
}
.logo-image {
    height: 49px;
    width: 49px;
    float: left;
    margin-right: 15px;
}
.logo-image::before {
    content: '';
    background:url('../img/logo@1X.png');
    height: 49px;
    background-size: 100%;
    display: flex;
}
.logo-image:hover {
    color: #f26522;
    transition: all 0.5s;
}
.logo-place:hover {
    color: #f26522;
    transition: all 0.5s;
}
.logo-image:hover::before {
    content: '';
    background: url(../img/logohower@1X.png) no-repeat;
    height: 49px;
    background-size: 100%;
    display: flex;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 49px auto 44px auto;
    width: 80%;
}
.name-milan {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
}
.name-holiday {
    font-size: 1.125rem;
    margin: 0;
}
.info {
    text-align: right;
}
.name {
    float: right;
}
.tours-name {
    width: 100%;
    text-align: center;
    margin-bottom: 58px;
}
.cards {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.tours-items {
    border: 2px solid;
    border-image: repeating-linear-gradient(0deg, black, white) 20;
    box-shadow: 1px 20px 20px 0 black;

}
.footer {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.price::before {
    content: '\20AC';
}
.blok {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    background: #f26522;
    height: 63px;
    height: 63px;
    width: 100%;
    position: absolute;
    top: 204px;
    align-items: center;
    visibility: hidden;
}
.from,.price {
    margin: 0;
}
.from {
    font-size: 10px;
}
.price {
    font-size: 18px;
}
.try {
  margin-bottom: 20px;
  position: relative;  
}
.try:hover .blok {
    transform: translateY(-100%);
    transition: all 0.5s;
    visibility: visible;
}
.tours:hover > .tours-name {
    color: #F26522;
}
